# Common
common_tags = {
    scenario  = "{{ scenario | default('Quick Start - Single AZ') }}"
    project   = "{{ project | default('Oracle Database @ Azure') }}"
    createdby = "{{ created_by | default('azurerm-oci-exadata-quickstart') }}"
    delete    = "{{ delete_tag | default('yes') }}"
}

# AZ Resource Group
az_region="{{ az_region | default('germanywestcentral') }}"
az_zone="{{ az_zone | default('3') }}"

resource_group = "{{ resource_group | default('oracle-exadata') }}"
{% if new_rg is defined %}
new_rg = {{ new_rg | lower }}
{% else %}
# new_rg = true
{% endif %}
{% if random_suffix_length is defined %}
random_suffix_length = {{ random_suffix_length }}
{% else %}
# random_suffix_length = 3
{% endif %}

# AZ VNet
virtual_network_name            = "{{ virtual_network_name | default('vnet-oci') }}"
delegated_subnet_name           = "{{ delegated_subnet_name | default('snet-delegate-oci') }}"
virtual_network_address_space   = "{{ virtual_network_address_space | default('10.1.0.0/16') }}"
delegated_subnet_address_prefix = "{{ delegated_subnet_address_prefix | default('10.1.1.0/24') }}"

# AZ Exadata Infrastructure
exadata_infrastructure_name="{{ exadata_infrastructure_name | default('odbazrm') }}"
exadata_infrastructure_compute_count={{ exadata_infrastructure_compute_count | default(2) }}
exadata_infrastructure_storage_count={{ exadata_infrastructure_storage_count | default(3) }}
exadata_infrastructure_shape="{{ exadata_infrastructure_shape | default('Exadata.X9M') }}"
exadata_infrastructure_maintenance_window = {
  patching_mode="{{ exadata_infrastructure_patching_mode | default('Rolling') }}"
  preference="{{ exadata_infrastructure_preference | default('NoPreference') }}"
}

# AZ Exadata VM Cluster
vm_cluster_name                                                  = "{{ vm_cluster_name | default('oradb') }}"
vm_cluster_hostname                                              = "{{ vm_cluster_hostname | default('oradb') }}"
{% if vm_cluster_domain is defined %}
vm_cluster_domain                                                = "{{ vm_cluster_domain }}"
{% else %}
# vm_cluster_domain                                                = "your custom domain name"
{% endif %}
{% if vm_cluster_new_oci_dns is defined %}
vm_cluster_new_oci_dns                                           = {{ vm_cluster_new_oci_dns | lower }}
{% else %}
# vm_cluster_new_oci_dns                                           = true
{% endif %}
vm_cluster_gi_version                                            = "{{ vm_cluster_gi_version | default('19.0.0.0') }}"
vm_cluster_cpu_core_count                                        = {{ vm_cluster_cpu_core_count | default(4) }}
vm_cluster_data_collection_options_is_diagnostics_events_enabled = {{ vm_cluster_data_collection_options_is_diagnostics_events_enabled | default('true') | lower }}
vm_cluster_data_collection_options_is_health_monitoring_enabled  = {{ vm_cluster_data_collection_options_is_health_monitoring_enabled | default('true') | lower }}
vm_cluster_data_collection_options_is_incident_logs_enabled      = {{ vm_cluster_data_collection_options_is_incident_logs_enabled | default('true') | lower }}
vm_cluster_data_storage_percentage                               = {{ vm_cluster_data_storage_percentage | default(80) }}
vm_cluster_data_storage_size_in_tbs                              = {{ vm_cluster_data_storage_size_in_tbs | default(2) }}
vm_cluster_db_node_storage_size_in_gbs                           = {{ vm_cluster_db_node_storage_size_in_gbs | default(500) }}
vm_cluster_license_model                                         = "{{ vm_cluster_license_model | default('LicenseIncluded') }}"
vm_cluster_memory_size_in_gbs                                    = {{ vm_cluster_memory_size_in_gbs | default(60) }}
vm_cluster_time_zone                                             = "{{ vm_cluster_time_zone | default('UTC') }}"
vm_cluster_is_local_backup_enabled                               = {{ vm_cluster_is_local_backup_enabled | default('false') | lower }}
vm_cluster_is_sparse_diskgroup_enabled                           = {{ vm_cluster_is_sparse_diskgroup_enabled | default('false') | lower }}
vm_cluster_ssh_public_keys                                       = {{ vm_cluster_ssh_public_keys | tojson }}
vm_cluster_backup_subnet_cidr                                    = "{{ vm_cluster_backup_subnet_cidr | default('192.168.252.0/22') }}"
{% if vm_cluster_scan_listener_port_tcp is defined %}
vm_cluster_scan_listener_port_tcp                                = {{ vm_cluster_scan_listener_port_tcp }}
{% else %}
# vm_cluster_scan_listener_port_tcp                                = 1521
{% endif %}
{% if vm_cluster_scan_listener_port_tcp_ssl is defined %}
vm_cluster_scan_listener_port_tcp_ssl                            = {{ vm_cluster_scan_listener_port_tcp_ssl }}
{% else %}
# vm_cluster_scan_listener_port_tcp_ssl                            = 2484
{% endif %}
{% if nsg_cidrs is defined %}
nsg_cidrs                                                        = {{ nsg_cidrs | tojson }}
{% else %}
# nsg_cidrs                                                        = [
#   {
#     source : "0.0.0.0/0",
#     destinationPortRange : {
#       max : 1522,
#       min : 1521
#     }
#   }
# ]
{% endif %}

# OCI Oracle DbHome, CDB, PDB
enable_database_delete = {{ enable_database_delete | default('true') | lower }}
db_home_source         = "{{ db_home_source | default('VM_CLUSTER_NEW') }}"
db_home_version        = "{{ db_home_version | default('19.0.0.0') }}"
db_home_name           = "{{ db_home_name | default('dbhome') }}"
db_source              = "{{ db_source | default('NONE') }}"
db_name                = "{{ db_name | default('db') }}"
db_admin_password      = "{{ db_admin_password }}"